*.vsidx
*.pdb
*.dll
*.bin
*.bin
.vs/ProjectEvaluation/domria.projects.v9.bin
.vs/DOMRIA/v17/.suo
*.v2
.vs/DOMRIA/v17/DocumentLayout.backup.json
.vs/DOMRIA/v17/DocumentLayout.json
*.pdb
*.exe
*.cache
*.v2
.vs/DOMRIA/v17/.suo
.vs/DOMRIA/v17/DocumentLayout.backup.json
.vs/DOMRIA/v17/DocumentLayout.json
*.bin
*.dll
*.exe
DOMRIA/obj/Debug/net8.0/DOMRIA.AssemblyInfo.cs
*.cache
*.pdb
DOMRIA/obj/Debug/net8.0/DOMRIA.sourcelink.json
/.vs/DOMRIA/v17
.vs/DOMRIA/v17/.suo
*.bin
*.cache
DomRiaBot.Tests/obj/Debug/net8.0/DomRiaBot.Tests.AssemblyInfo.cs
